<html>
    <head>
        <title>Chatbot</title>
        <script type="text/javascript" src="/js/chatbot.js"></script>
        <link rel="stylesheet" href="/css/chatbot.css" />
    </head>
    <body>
        <div id="main">
            <div><input id="input" type="text" placeholder="How can I help you?" autocomplete="off"/></div>
        </div>
    </body>
</html>