<section class="totalprice">
    <h1>Your bag total is S$649.00.</h1><span style="font-size: 17px; font-weight: 600;">Get free delivery on all
        products.</span>
    <div style="padding-top: 20px;"><button class="btn btn-primary border rounded" type="button"
            style="width: 18em;">Check Out</button></div>
</section>
<section class="baginfo container col-lg-9">
    <hr>
    <div class="row" style="padding-top: 30px;">
        <div class="col col-12 col-md-2" style="text-align: center;"><img class="img-fluid"
                src="/img/iphone-se-red-select-2020.jpg" style="max-width: 100%; height: auto;"></div>
        <div class="col" style="text-align: center;">
            <div class="row">
                <div class="col">
                    <div class="col-md-7 productname" style="max-height: 100%;float: left">
                        <h4 style="float: left;">iPhone SE 64GB (PRODUCT)RED</h4>
                    </div>
                    <div class="col-md-2 col-6" style="max-height: 100%;float: left;"><select class="quantity">
                            <option value="1" selected="">1</option>
                            <option value="2">2</option>
                            <option value="14">3</option>
                        </select></div>
                    <div class="col-md-2 col-6" style="max-height: 100%; float: right; padding-right:0px">
                        <h4 style="float:right; padding-right: 20px;">S$649.00</h4>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top:10px">
                <div class="col">
                    <div class="col-md-2 col-6" style="max-height: 100%; float: right; padding-right:0px;"><button
                            class="btn btn-primary remove" type="button"
                            style="float:right; padding-right: 20px;">Remove</button></div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div><span class="spinner-border spinner-border-sm" role="status"></span></div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div style="float: left;"><span style="font-size: 17px; font-weight: 600; padding-left:15px;">Find
                            out how soon you can get this item. Enter postcode:</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div style="float: left;"><span style="font-size: 17px; font-weight: 600; padding-left:15px;"><i
                                class="fas fa-box"></i>&nbsp;Order today, delivers:<br></span></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="baginfo container col-lg-9">
    <hr>
    <div class="row" style="padding-top: 30px;">
        <div class="col col-12 col-md-2" style="text-align: center;"></div>
        <div class="col" style="text-align: center;">
            <div class="row">
                <div class="col">
                    <div class="col-md-6 productname col-6" style="max-height: 100%;float: left">
                        <h6 style="float: left;">Subtotal</h6>
                    </div>
                    <div class="col-md-6 productname col-6" style="max-height: 100%;float: left">
                        <h6 style="float: right;">S$649.00</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="col-md-6 productname col-6" style="max-height: 100%;float: left">
                        <h6 style="float: left;">Shipping</h6>
                    </div>
                    <div class="col-md-6 productname col-6" style="max-height: 100%;float: left">
                        <h6 style="float: right;">FREE</h6>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="col-md-6 productname col-6" style="max-height: 100%;float: left">
                        <h4 style="float: left;">Your Total</h4>
                    </div>
                    <div class="col-md-6 productname col-6" style="max-height: 100%;float: left">
                        <h4 style="float: right;">S$649.00</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="col-md-4 productname col-12" style="max-height: 100%;float: right;"><a
                            class="btn btn-primary border rounded" href="/processing" style="width: 100%;">Check
                            Out</a></div>
                </div>
            </div>
        </div>
    </div>
</section>