<body style="overflow-y: scroll;height: 70vw;">
    <div class="whitespace"></div>
    <div class="container col-md-6">
        <div class="card">
            <div class="card-header" style="background-color: rgb(33,37,41);">
                <h5 class="mb-0" style="color: rgb(245,245,247);">Item Purchased</h5>
            </div>
            <div class="card-body">
                <div class="row col-md-6 mx-auto">
                    <div class="col">
                        <p style="margin-bottom: 0px;text-align: center;"><strong><em><span style="text-decoration: underline;">Payment is successful!</span></em></strong><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>