<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCT DEBUG</title>
</head>
<body>
    <a href="/debug/database" class="btn btn-warning">Database</a>
    <a href="/debug/database/truncate" class="btn btn-danger">Truncate</a>
    <p>Please press this button if you want to add dummy data into your <span class='h3'>EMPTY</span> product table.</p>
    <a href="/debug/add/1" class="btn btn-primary">Add iPhone SE Red to cart</a>
    <a href="/debug/add/2" class="btn btn-primary">Add iPhone 11 Rose Gold to cart</a>
    <a href="/debug/add/3" class="btn btn-primary">Add AirPods to cart</a>
</body>
</html>