<div class="container">
	<div class="jumbotron text-center my-4">
		<div class="container">
			<h1 class="display-4">Lazopee</h1>
			<p class="lead">Lost child of Lazada & Shopee</p>
		</div>
	</div>
</div>

<script>
	firebase.analytics().logEvent("page_view");
</script>