body, html {
    width:100%;
    background: #FFFFFF;
}

/* choose acc */
#seller-redirect{
    text-align: center;
}

#all-acc{
    margin-top: 50px;
    text-align: center;
}

.choose-acc{
    text-align: center;
    margin-top: 50px;
    
}
.choose-acc h1{
    color:#6a0dad;
}
.acc{
    border: solid 1px;
    margin: 10px 100px;
}

.acc-type-title{
    margin-top: 20px;
    margin-bottom: 20px;
}

.acc ul{
    margin: 50px 0;
}

.acc li{
    text-align: left;
    margin: 3px 20px;
}

.acc-btn{
    width: 60%;
    display: inline-block;
    padding: 12px 20px;
    margin-bottom: 15px;
}

.choose-acc-containter{
    padding-top: 5px;
    background: #FFFFFF;
    padding-bottom: 50px;
}

.form-button{
    background-color:#F1984D;
    color: #FFFFFF;
}