
body, html {
    height:100%;
    background: #464866;
}

.txt {
    font-size:20px;
    color:#555;
    line-height:1.5
}

.test {
    color:#29648A;
    font-size: 50px;
}

.vertical-center {
    width: 100%;
    margin: 10% auto 10% auto;
}

.login-container {
    background: #FFFFFF;
    padding: 30px 50px 50px 50px;
    border-radius: 25px
    
}

.container-1 a, .container-1 input{
    width: 100%;
    display: inline-block;
    padding: 12px 20px;
    margin-bottom: 15px;
}

hr {
    border-width: 4px;
}

.login-elements {
    margin-top: 20px;
}

.sign-up {
    text-align: center;
    color: #6a6b6a;
}

@media(max-width: 991px){

    .container-1 {
        max-width: 400px;
    }
    .vertical-center {
    margin: 10% auto 10% auto;
    }


}

@media (min-width: 992px) {
    .container-1 {
        max-width: 450px;
    }
    .vertical-center {
        margin: 5% auto 10% auto;
    }
}

@media (min-width: 1200px) {
    .container-1{
        max-width: 500px;
    }

    .vertical-center {
    margin: 5% auto 10% auto;
    }

}

@media(max-height: 800px){

    .vertical-center {
    margin: 2% auto 2% auto;
    }
}