.p-info, .s-info {
    margin: 20px;
}

.title{
    text-align: center;
    margin-top: 20px;
}

.form-section {
    margin-top: 50px;
}

.su-btn {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

input[type=submit], #seller-redirect a {
    width: 20%;
    display: inline-block;
    padding: 15px 5px;
    margin-top: 15px;
    font-size: 20px;
}

#seller-redirect{
    text-align: center;
}

#all-acc{
    margin-top: 50px;
    text-align: center;
}

.choose-acc{
    text-align: center;
    margin-top: 50px;
}

.acc{
    border: solid 1px;
    margin: 10px 30px;
}

.acc-type-title{
    margin-top: 20px;
    margin-bottom: 20px;
}

.acc ul{
    margin: 50px 0;
}

.acc li{
    text-align: left;
    margin: 3px 20px;
}

.acc-btn{
    width: 60%;
    display: inline-block;
    padding: 12px 20px;
    margin-bottom: 15px;
}