.logo{
  width:130px;
  margin:auto;
}

/* JH CSS START*/
.navbar.navbar-dark.navbar-expand-md.fixed-top.bg-dark {
  background-color: #000!important;
  opacity: 0.8;
}

/*
body {
  height: 1000px;
}*/

.totalprice {
  padding-top: 100px;
  text-align: center;
}

.baginfo {
  padding-top: 40px;
}

.quantity {
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 600;
  letter-spacing: .009em;
  color: #1d1d1f;
  height: 1.41176rem;
  margin-bottom: 0;
  padding: 0 0 0 5px;
  border: 0;
  display: inline-block;
  background-color: transparent;
  height: 100%;
}

.remove {
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -.022em;
  font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  background: transparent;
  border: 0;
  color: #06c;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  padding: 0;
  vertical-align: inherit;
  cursor: pointer;
}

/* Search bar */
.bs-example {
  font-family: sans-serif;
  position: relative;
  margin: 50px;
}

.typeahead,
.tt-query,
.tt-hint {
  border: 2px solid #CCCCCC;
  border-radius: 8px;
  font-size: 24px;
  height: 30px;
  line-height: 30px;
  outline: medium none;
  padding: 8px 12px;
  width: 396px;
}

.typeahead {
  background-color: #FFFFFF;
}

.typeahead:focus {
  border: 2px solid #0097CF;
}

.tt-query {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-hint {
  color: #999999;
}

.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  padding: 8px 0;
  width: 422px;
}

.tt-suggestion {
  font-size: 24px;
  line-height: 24px;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
}

.tt-suggestion p {
  margin: 0;
}
/* JH CSS END */

/* navbar - HF */
.navbar-nav .nav-item .nav-link {
  color: rgba(255,255,255,.70);
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: #F1984D;
}
/* navbar */