
body{
    min-height: 100%;
    background: #F8F8F8;
}

.side-link-li{
    margin-top: 5px;
    margin-bottom: 5px;
}

.content{
    background: #FFFFFF;
}

.sub-content-title{
    margin: 15px 0px;
}

.main {
    margin:60px 10px 50px 10px;
    
}

ul {
    list-style-type: none;

}

li a:hover{
    color: #F1984D !important;
    text-decoration: none;
}


.form-button{
    background-color:#F1984D;
    color: #FFFFFF;
}

.sub-title{
    font-weight: bold;
    font-size: 20px;
}

.welcome{
    margin-top: 20px;
}

.active{
    color: #F1984D;
    /*color: #F7882F*/
}

.menu-title{
    font-size: 20px;
    font-weight: bold;
}

.p-info {
    margin: 20px;
}

form {
    margin-bottom: 30px;
}

.login-flash{
    background: #3dd43d;
    border-radius: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
}

/*
.nav-item{
    cursor: pointer;
}*/
/*
.side-nav ul li{
    margin-top: 6px;
    margin-bottom: 6px;
}
*/

/* For Delivery*/

.selection-bar div{
    padding: 10px;
    cursor: pointer;
}

.selection-bar div:hover{
    background: aqua;
}

.selection-bar p{
    padding: 0px;
    margin: 0px;
}

.filter{
    margin-top: 10px;
    background: #DCDCDC;
}

.order-items-list{
    margin-top:20px;
    white-space: nowrap;
}

.order-item{
    border: 1px solid;
    padding: 0;
    margin-bottom: 15px;
}

.item-photo{
    padding:0px;
}


/* orders */
.item-photo{
    padding:0px;
}

.order-item-photo{
    max-height: 150px;
}

.order{
    margin: 15px 5px 30px 5px;
    border: 1px solid;
    padding: 0;
}

.order-items-list{
    margin-top:20px;
    white-space: nowrap;
}

.order-item{
    padding: 0;
    margin: 0 auto 15px auto;
    width: 100%;
}

.order-header-containter{
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

.order-header{
    margin-bottom: 10px;
}

.order-header-info{
    margin:0;
}

.order-container{
    margin:10px;
}

.btn2{
    margin-top: 10px;
    width: 100%;
    border: none;
    padding: 15px;
}

.btn-col {
    border-left:1px solid;
}

@media (max-width: 768px) {
    .btn-col {
        border: none;
    }
}

.acpt-btn{
    background-color:#F1984D;
    color: #FFFFFF;
}

.acpt-btn:hover{
    background-color:#F1984D;
    color: #212529;
}

.rej-btn{
    background-color:#ef5b25;
    color: #FFFFFF;
}

.rej-btn:hover{
    background-color:#ef5b25;
    color: #212529;
}

hr {
    border-top: 1px solid #000000;
}
/* end of orders */
/*
* {
    border: 1px solid #f00 !important;
  }*/

.mw{
    max-width: 100%;
}