
<div class="container-fluid main">
    <div class="row">
        <div class=" col-md-2 side-nav offset-md-1 ">
            <p class="welcome"> Welcome {{ username }},</p>
            <hr>
            <p class="sub-title">Account</p>
            <ul>
                <li class="nav-item">
                        <a class="active" href="">Profile </a>
                </li>
                <li class="nav-item">
                        <a class="active" href="">Change Password</a>
                </li>
                <li class="nav-item">
                        <a class="active" href="">Address</a>
                </li>
            </ul>

            <hr>
            <p class="sub-title">Others</p>
            <ul>
                <li><a href="">Track My Order</a></li>
            </ul>

        </div>
        
        <div class=" content col-xd col-md-7 offset-md-1">
                <h4>Profile</h4>

                <form novalidate method="POST" action="">
                    <div class="border border-secondary">
                        <div class="p-info"> <!-- Form Elements -->

                            <div class="row"> <!-- Name -->
                                <div class="col">
                                    <div class="form-group">
                                        <label for="first_name">First Name</label>
                                        <input type="text" class="form-control" id="first_name" name="first_name" value="{{first_name}}">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label for="last_name">Last Name</label>
                                        <input type="text" class="form-control" id="last_name" name="last_name" value="{{last_name}}">
                                    </div>
                                </div>
                            </div> <!-- End of Name -->

                            <div class="container su-btn">
                                <input type="Submit" name="submit" value="Update Profile" class="btn btn-secondary"/>
                            </div>

                        </div> <!-- End of Form Elements -->
                    </div> <!-- End of Border -->

                </form>



    </div>
</div>



<script>

</script>