<div class="container">
    <div class="choose-acc">
        <h1> Choose Account Type </h1>
    </div>

    <div class="row" id="all-acc">
        <div class="col acc">
            <h3 class="acc-type-title">User Account</h3>
            <div>
                <p>Access to our wide range of authentic and quality products from our merchant. Shop with ease using our smooth and user friendly e-commerce website.</p>
            </div>
            <ul>
                <li>Exclusive Discounts and targeted sales</li>
                <li>Buy wide range of products</li>
                <li>Authentic</li>
                <li>Cashback</li>
            </ul>
            <div>
                <h5>Apply Now</h5>
                <a href="/user/signup" class="btn btn-primary acc-btn">User Account</a>
            </div>
        </div>

        <div class="col acc">
            <h3 class="acc-type-title">Merchant Account</h3>
            <div>
                <p>We have customers from locally to internationally. We are able to reach customer almost anywhere and allow them to shop in peace with trust.</p>
            </div>
            <ul>
                <li>Comission based fee, no monthly fee</li>
                <li>Access to our in-app marketing campaign</li>
                <li>Access to huge amount of customers internationally</li>
                <li>Easily edit product information and price</li>
            </ul>
            <div>
                <h5>Apply Now</h5>
                <a href="/merchant/signup" class="btn btn-primary acc-btn">Merchant Account</a>
            </div>

        </div>
        
        
    </div>
</div>