
<div class=" main">
    <div class="row ">
        <div class=" col-md-2  side-nav offset-md-1 ">
            <p class="welcome"> Welcome {{user.last_name}},</p>
            <hr>
            <a class="sub-title" style="color:#000000"href="/user/account" >Account</a>

            <hr>
            <p class="sub-title">My Order</p>
            <ul class="navbar-nav navbar-ligh">
                <li class="nav-item active"><a class="side-link-a">Track My Order</a></li>
                
            </ul>
            <hr> 
        </div>
        
        <div class="content col-md-7">

                <h4 class="sub-content-title">My Purchases</h4>

                <div class="row nowrap selection-bar" style="background-color:orange; text-align:center">
                    <div class="col">
                        <p>All</p>
                    </div>
                    <div class="col">
                        <p>On Delivery</p>
                    </div>
                    <div class="col">
                        <p>Past Purchase</p>
                    </div>
                </div>

                <div class="row filter" style="text-align:right;" >
                    <h3> --Filter here--</h3>
                </div>

                <!-- items -->

                <div class="row test1">
                    <p> ORDER ID</p>
                    <!--<span><a style="float:right; text-align:right;" href="" class="btn btn-outline-secondary">View Order</a></span>-->
                    <div class="row order-item">
                        <div class="col-md-3 item-photo">
                            <img src="/img/image-placeholder.jpg" alt="..." class="img-thumbnail">
                        </div>
                        <div class="col-md-9">
                            <p> test 2</p>
                        </div>
                    </div>

                    <div class="row order-item">
                        <div class="col-md-3 item-photo">
                            <img src="/img/image-placeholder.jpg" alt="..." class="img-thumbnail">
                        </div>
                        <div class="col-md-9">
                            <p> test 2</p>
                        </div>
                    </div>
                </div>

                <div class="row test1">
                    <p> ORDER ID</p>
                    
                    <div class="row order-item">
                        <div class="col-md-3 item-photo">
                            <img src="/img/image-placeholder.jpg" alt="..." class="img-thumbnail">
                        </div>
                        <div class="col-md-9">
                            <p> test 2</p>
                        </div>
                    </div>

                    <div class="row order-item">
                        <div class="col-md-3 item-photo">
                            <img src="/img/image-placeholder.jpg" alt="..." class="img-thumbnail">
                        </div>
                        <div class="col-md-9">
                            <p> test 2</p>
                        </div>
                    </div>
                </div>

                <!--
                <div class="row order-items-list">
                    
                    

                    <div class="row order-item">
                        <div class="col-md-3 item-photo">
                            <img src="/img/image-placeholder.jpg" alt="..." class="img-thumbnail">
                        </div>
                        <div class="col-md-7">
                            <p> test 2</p>
                        </div>
                        <div class="col-md-2">
                            <p>test 2 hello</p>
                        </div>
                    </div>
                    
                    <div class="row order-item">
                        <div class="col" >
                            <p> test 2</p>
                        </div>
                    </div>

                </div>--> <!-- end of items-->



    </div>
</div>



<script>

</script>