<!-- HF -->

<section>
    <div class="container-1 vertical-center ">
        <div class="login-container">
            <h1 class="form-title">Login</h1>
            <form novalidate method="POST" action="">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" value="{{email}}">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" value="">
                </div>

                <div class="container-1 form-elements">
                    <input type="Submit" name="submit" value="Login" class="btn form-button"/>
                    <hr>
                    <p class="sign-up"> No Account? Click below </p>
                    <!--<input type="button" name="submit" value="Sign Up" onclick="location.href='/';" class="btn btn-outline-secondary"/>-->
                    <a href="/user/choose_account" class="btn btn-outline-secondary">Sign Up</a>
               </div>
            </form>
        </div>
    </div>
</section>

<script>
    firebase.analytics().logEvent("login");
</script>