<style>
    .ais-InstantSearch {
        max-width: 960px;
        overflow: hidden;
        margin: 0 auto;
    }

    .ais-Hits-item {
        margin-bottom: 1em;
        width: calc(50% - 1rem);
    }

    .ais-Hits-item img {
        margin-right: 1em;
    }

    .hit-name {
        margin-bottom: 0.5em;
    }

    .hit-description {
        color: #888;
        font-size: 14px;
        margin-bottom: 0.5em;
    }
</style>
<div class="ais-InstantSearch">
    <h1 class="text-center">Products</h1>

    <div class="row">
        <div class="col-md-3">
            <div id="clear-refinements"></div>
        </div>
        <div class="col-md-9">
            <div id="searchbox" class="ais-SearchBox"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h2>Brands</h2>
            <div id="brand-list"></div>
            
        </div>
        <div class="col-md-9">
            <div id="hits"></div>
            <div id="pagination"></div>
        </div>
    </div>
</div>
<script src="/js/searchFunc.js"></script>


<script>
	firebase.analytics().logEvent("view_item");
</script>